@import 'reset.css';
@import 'calendar.css';
@import 'layout.css';
@import 'typography.css';
@import 'color_scheme.css';


#top .nav li {
  border-right: 1px solid #000;
}

#top .nav li:last-child {
  border-right: none;
}

button {
  border-radius: 10px;  
}

.space_to_rent {
  border-radius: 5px;
}

.space_name {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
